# Xcode
build/
*.dmg
DerivedData/
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# App bundles
*.app
*.ipa

# Provisioning profiles
*.mobileprovision
*.provisionprofile
